flask
pandas
numpy
requests
beautifulsoup4
binance-connector
plotly
gunicorn
feedparser
yfinance
matplotlib
wordcloud
flask-cors
pydantic
openai
supabase==2.30.0
python-dotenv==1.0.0
sqlalchemy==2.0.25
psycopg2-binary==2.9.9
pydub
websockets>=15,<16
markdown
weasyprint
